<h2>About me</h2>
<p align="justify"> Hello there! I'm a Neuroscience graduate student working under the supervision of <a href="https://connectlab.beckman.illinois.edu/"> Dr. Sepideh Sadaghiani</a> at the University of Illinois at Urbana-Champaign. </p>

<p align="justify"> I'm interested in investigating the neural network dynamics that underlie goal-directed behavior and cognitive control. I also have a longtime interest in causal reasoning and the evolution of cognition.</p>

<p align="justify"> Before Illinois, I received my BSc. in Biochemistry from Universidad de Chile and worked as a technical associate at the <a href="https://neurouc.cl/"> Interdisciplinary Center for Neuroscience at Pontificia Universidad Católica de Chile</a>.</p>

<!--


<p>For more information, including setup and configuration instructions, bug reports or feature requests head over to <a href="https://github.com/excentris/compass">GitHub</a>.</p>

<hr />

<ul class="fa-ul main-list">
  <li class="main-list-item">
    <span class="fa fa-github fa-lg main-list-item-icon"></span>
    <a href="https://github.com/excentris/compass">GitHub Repository</a>
  </li>
  <li class="main-list-item">
    <span class="fa fa-user fa-lg main-list-item-icon"></span>
    <a href="http://excentris.net"></a>
  </li>
</ul>
-->